*.class
*.log


# sbt specific
.cache
.classpath
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.ensime
.ensime_lucene/
.idea/
.idea_modules/
.project
.settings

